Dart / Flutter
.dart_tool/
.packages
.pub/
build/

Firebase credentials
serviceAccountKey.json

Environment variables
.env

Uploaded user files
uploads/

IDE
.idea/
.vscode/

OS files
.DS_Store
Thumbs.db
Dart / Flutter
.dart_tool/
.packages
.pub/
build/

Firebase credentials
serviceAccountKey.json

Environment variables
.env

Uploaded user files
uploads/

IDE
.idea/
.vscode/

OS files
.DS_Store
Thumbs.db
